body {
    font-family: sans-serif;
    background-image:linear-gradient(darkred,rgb(88, 84, 84));
    margin:0;
    display:flex;
    justify-content:center;
}

.site-container{
    width:850px;
    display:flex;
    flex-direction:column;
}

.white-page {
    background-image:linear-gradient(rgb(88, 84, 84),darkred);
    padding: 20px;
    min-height: 1000px;
    position: relative;
}

header{
    background-color:#600002;
    padding:20px;
    display:flex;
    align-items:center;
    flex-direction:column;
    gap:10px;
}

.logo{
    color:#bb0b0e;
    font-size:35px;
    font-weight:bolt;
    margin:0;
}

header img {
    margin: 20px 0;
}

nav a{
    color: #ec1216;
    text-decoration:none;
    margin:0 10px;
}

footer{
    width:100%;
    height:40px;
    background-color:darkred;
}

.content-item{
    width:100%;
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
}

.content-item img {
    max-width: 100%;
    height: auto;
    margin: 50px 0;
    border-radius:5%;
    border:3px solid darkred;
    box-shadow:3px 5px 20px 0 black;
    transition:3s;
}

h1 img {
    margin: 0 20px;
    vertical-align: middle;
}

.content-item p {
    color: #000;
    font-size: 18px;
    line-height: 1.4;
    max-width: 700px;
    margin: 0;
}

.text-list {
    text-align: left;
    align-items: flex-start;
}

.long-text {
    width: 100%;
    padding-left: 20px;
}

.long-text ul {
    list-style-type: square;
    margin-top: 10px;
}

.long-text li {
    margin-bottom: 8px;
    font-size: 17px;
}

a:hover{
    background-color: rgb(255, 255, 255);
}

.content-item img:hover{
    transform:scale(1.1);
}
footer {
    width: 100%;
    height: 40px;
    background-color: darkred;
    text-align: center;
}